@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto";
  height: 100vh;
}
body {
  font-size: 1.6rem;
}
.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
header {
  display: flex;
  border: 0.5rem solid #3c7196;
  align-items: center;
}
header picture img {
  height: 100px;
  border: 0;
  margin: 5px;
}
header h1 {
  width: 100%;
  text-align: center;
}
nav {
  border: 0.5rem solid #3c7196;
  border-top-width: 0;
}
nav ul {
  display: flex;
  flex-direction: row;
}
nav ul li {
  list-style-type: none;
  padding: 2rem;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li:hover {
  background-color: #50ba9e;
  cursor: pointer;
}
main {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
}
main > section {
  background-color: rgba(80, 186, 158, 0.9);
  margin: 0 5px;
  padding: 1.2rem;
  width: 33%;
}
footer {
  border: 0.5rem solid #3c7196;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer div {
  width: 50%;
  text-align: center;
}
footer picture {
  width: 50%;
  display: flex;
  align-items: center;
}
footer picture a {
  margin: 0 auto;
}
